.body{
    background-image: linear-gradient(90deg, #9C27B0, #673AB7);
}
.content{
    height: 100vh;
}
.form-check-input:checked{
    background: #673AB7;
    border-color: #673AB7;
}
.btn-dark{
    background:#673AB7 !important;
}
